<!DOCTYPE html>

<html lang = "en">

    <head>

        <title>VoKab</title>

    </head>

    <style>

        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {background-color: #d6e7ea;}

    </style>

    <body>

        <!-- 
            anchor tag that leads to home
            <a href="{{ url_for('homepage') }}">Home</a> -->

        <form style = "display: inline" action = "/" method = "get">
            <button>VoKab Home</button>
        </form>

        <br>

        <form method = "POST" action = "/writing_practice_start">
            <select name = "set"> <!--this is the name of the variable to be passed onto other places-->
          <option value = "{{study_sets[0]}}" selected>{{study_sets[0]}}</option>
          {% for set in study_sets[1:] %}
            <option value = "{{set}}">{{set}}</option>
          {% endfor %}
            </select>
          <input type = "submit" value = "Start Learning">
          </form>

        <br>


    </body>

</html>