<!DOCTYPE html>

<html lang = "en">

    <head>

        <title>Writing Practice</title>

        <link rel="stylesheet" href = "static/home.css">

    </head>

    <style>

    </style>

    <body>

        <!-- 
            anchor tag that leads to home
            <a href="{{ url_for('homepage') }}">Home</a> -->

        <form style = "display: inline" action = "/" method = "get">
            <button>VoKab Home</button>
        </form>

        <br>

        <h1>Definition</h1>

        <p>{{definition}}</p>

        <form action = "/writing_result" method = "get">

            <label for = "user_answer">Enter the Corresponding Word:</label>
            <input type = "text" name = "user_answer" autocomplete = "off">
            
            <input type = "submit" value = "Check">

        </form>


    </body>

</html>